#note, input{
  display: block;
  margin: 20px;
  width: 80%;
  height: 80px;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 10px;
}

#row {
  margin: 10px;
  width: 82%;
}

button {
  width: 60px;
  height: 30px;
  border-radius: 6px;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
}

.heading {
  font-family: sans-serif;
  color: rgb(260,189,210);
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.add {
  float: right;
  background-color: #5cb85c;
border-color: #4cae4c;
}

.edit {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.delete {
  background-color: #c9302c;
  border-color: #ac2925;
}

.parent-container {
  width: 82.5%;
}

.delete {
  float: right;
}

.addedText {
  margin: 20px;
  width: 80%;
  height: 80px;
  margin-left: 50px;
  border: 1px solid grey;
}

.status {
  width: 2%;
  position: relative;
  top: -35px;
  left: -47px;
}